{% extends "base.html" %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="container">
      <div class="left-column">
        <h1>Editar Avaria</h1>
        <table>
          {{ form.as_table }}  <!-- Campos do formulário de dados (Avaria) -->
        </table>
      </div>

      <div class="right-column">
        <table>
          {{ formset.management_form }}
          {% for form in formset %}
            <tr>
              <td>
                {% if form.instance.imagem %}
                  <img src="{{ form.instance.imagem.url }}" alt="Imagem" width="50">
                {% endif %}
              </td>
              <td>
                {{ form.as_p }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="buttons-container">
      <input type="submit" value="Salvar Alterações" class="btn btn-primary">
      <a href="{% url 'avarias_detail' avaria.pk %}" class="btn btn-secondary">Cancelar</a>
    </div>
    
  </form>

{% endblock %}


